<section class="success" id="contact">
    <div class="container">
        <div class="row">
        	<div class="col-sm-1"></div>
            <div class="col-sm-10 text-center">
            	<div class="row">
            		<h2></b> “HELLO, WE WOULD LOVE TO HEAR FROM YOU!” </h2>
            		<h4> Thank you for your interest in CSM Cinema! Please provide us with as many details about your wedding so that we can better serve you.Thank you! </h4>

								<h4>GIVE US A CALL</h4>

								<h4><b>Thien:</b> 408-466-1029</h4>
								<h4><b>Don:</b> 408-223-3543</h4>

								<h4><b>Email:</b> csmcinema@gmail.com</h4>

								<h4>YOU CAN CONTACT US BY USING THE FORM BELOW </h4>
            	</div>
            	<div class="row" id="contactform">
								<%= form_for @message, url: contact_path do |f| %>
								  <fieldset class="form-group">
								  	<%= f.label :name, "Full Name"%>
								  	<%= f.text_field :name, class: "form-control", placeholder: "Jane Doe"%>
								  </fieldset>
								  <fieldset class="form-group">
								  	<%= f.label :email, "Email"%>
								  	<%= f.text_field :email, class: "form-control", placeholder: "JaneDoe@something.com"%>
								  </fieldset>
								  <fieldset class="form-group">
								  	<%= f.label :weddingdate, "Wedding/Event Date"%>
								  	<%= f.text_field :weddingdate, class: "form-control", placeholder: "MM/DD/YYYY"%>
								  </fieldset>
								  <fieldset class="form-group">
								  	<%= f.label :location, "Location"%>
								  	<%= f.text_field :location, class: "form-control", placeholder: "Address"%>
								  </fieldset>
								  <fieldset class="form-group">
								  	<%= f.label :guesscount, "Guess Count"%>
								  	<%= f.text_field :guesscount, class: "form-control", placeholder: "some number" %>
								  </fieldset>
								  <fieldset>
								  	<%= f.label :package, "Package"%>
								  	<%= f.select :package, options_for_select([['Classic Package','Classic Package'],['Premium Package','Premium Package'], ['Custom Package','Custom Package']], params[:package]),{}, class: "form-control"%>
								  </fieldset>
								  <fieldset class="form-group">
								  	<%= f.label :question, "Question"%>
								  	<%= f.text_field :question, class: "form-control", placeholder:"Ask us anything"%>
								  </fieldset>
								  <button type="submit" class="btn btn-primary ">Send Message</button>
								<% end %>
							</div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
</section>